<h1>Resume</h1>
<md-divider></md-divider>

<h3>Education</h3>
Hunter College <small>Fall 2003 - Spring 2007</small><br />
Computer Science <small>Bachelor's Degree</small>

<h3>Expertise</h3>
<h4>Programming Languages</h4>
Microsoft .NET C#, ASP .NET, C++, JavaScript, TypeScript, NodeJS, LESS, CSS, HTML, PHP, Perl, ActionScript, etc.
<h4>APIs & Frameworks</h4>
AngularJS, AngularUI, Angular Material, JQuery, BootStrap, LINQ, AjaxToolkits, Telerik, XNA, FlatRedBall, etc.

<h3>Experience</h3>
<h4>Application Engineer @ Pearson Education - SchoolNet <small>December 2011 - Current</small></h4>
<ul>
    <li>Responsible for developing/maintaining applications for K-12 education.</li>
    <li>Building custom designed, web enabled database and applications to automate data entry and generate reports using ASP .NET 2012/2013 C#, and MS-SQL Server.</li>
    <li>Building scanning tool for assessment answer sheets.</li>
    <li>Building single-page application assessment tools with AngularJS, BootStrap, and custom styles using LESS, supported by RESTful API in the backend using .NET Web API framework.</li>
</ul>
<h4>Application Programmer @ Fashion Forward Group Inc. <small>May 2011 - December 2011</small></h4>
<ul>
    <li>Responsible for developing/maintaining web-based applications for fashion and PR industry.</li>
    <li>Building web forms using Telerik RadControls Ajax.</li>
    <li>Building custom designed, web enabled database and applications to automate data entry and generate reports using ASP .NET 3.5 C# and MS-SQL Server 2005/2008.</li>
</ul>
<h4>Application Developer @ Target Health Inc., New York, NY <small>May 2008 - February 2011</small></h4>
<ul>
    <li>Responsible for developing and maintaining web-based clinical research applications for pharmaceutical companies.</li>
    <li>Building custom designed, web enabled database and applications to automate data entry and generate reports using ASP, ASP. NET 2.0/3.5, C# and MS-SQL Server 2000/2005.</li>
</ul>
<h4>Consultant @ Engage IT Global – Jersey City, NJ <small>March 2008 – June 2008</small></h4>
<ul>
    <li>Responsible for developing and maintaining web-based resume submission application.</li>
    <li>Building custom designed, web enabled database and applications to automate data entry and generate reports using PHP and MySQL.</li>
</ul>
