@lightgreen-background: #c5e1a5;

body {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.code-box {
  font-size: 20px;
}

.nav-menu {
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 10px 10px 10px 20px;
}

.fat {
  padding: 10px;
}

.contact-container {
  padding-right: 30px;
  margin-left: -20px;
}

.space-top {
  padding-top: 50px;
}

.custom-background {
  background: url(../images/background.jpg) right bottom no-repeat;;
}

.no-background {
  background-color: rgba(255, 255, 255, 0);
}

.lightgreen-background {
  background-color: @lightgreen-background;
}

.transparent-background {
  background-color: rgba(255, 255, 255, 0.3);
}

.jumbo-header {
  padding: 30px;
  //.lightgreen-background;
  //background: linear-gradient(#c5e1a5,#edf6e4);
}

.clicky {
  cursor: pointer;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.flash-box {
  width: 500px;
}

.tall {
  min-height: 380px;
}

.gallery {
  .gallery-box {
    padding: 10px;
  }
}

.external-list {
  .external-button {
    padding-right: 30px;
    padding-bottom: 20px;
    float: left;
    
    a.md-button {
      margin-left: 0;
    }
  }

  &:after {
    content:'';
    display:block;
    clear: both;
  }
}

.page {
  width: 90%;
  position: absolute;

  &.ng-leave {
    z-index: 99;
  }
  &.ng-enter {
    z-index: 88;
  }
}

.view-animate {
  &.ng-leave {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
  }

  &.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
  }
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(20deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(27deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(27deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(20deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(27deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(27deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(20deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(27deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(27deg); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(100%); }
  to { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(100%); }
  to { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(100%); }
  to { -webkit-transform: translateX(0); }
}
