<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1" />
    <title>Danny Lum's Portfolio</title>
    <link rel="stylesheet" href="styles/angular-material.css" media="all" />
    <link rel="stylesheet" href="styles/styles.css" />
</head>
<body data-ng-app="dannylum">
    <div ng-controller="AppCtrl" layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleNavigationMenu()" class="md-default-theme" hide-gt-md>
                    Menu
                </md-button>
                <span flex=""></span>
                <span class="md-flex clicky" ng-click="navToPage('')">Danny Lum<br /><small>A Software Developer's Portfolio</small></span>
            </div>
        </md-toolbar>
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2 lightgreen-background" md-component-id="menu" md-is-locked-open="$media('gt-md')">
                <div ng-include="'partials/menu.html'"></div>
            </md-sidenav>
            <md-content flex layout="column" class="md-padding center center menu-background">
                <div ng-view></div>
            </md-content>
        </section>
        <div class="sticky-footer">
            <md-button class="md-accent md-raised" ng-click="showBottomSheet($event)">
                External
            </md-button>
        </div>
    </div>

    <script src="js/bundled.js"></script>
</body>
</html>
