<div class="jumbo-header" layout="column" layout-align="center center">
    <h2>
        Hello, my name is Danny Lum.
    </h2>
    <h3>
        I am a New York based web developer and software engineer.
    </h3>
</div>
<br />
<div>
    Thank you for visiting my personal online portfolio. I am currently a .NET developer but I am very interested at MEAN stack recently.
    I like working on front-end and javascript frameworks such as AngularJS. I also make indie games as hobby occasionally.
</div>
